table {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  /* border-collapse: collapse; */
  overflow: scroll;
  box-shadow: var(--color-background-raised);
  border-radius: 2px;
  border: 1px solid var(--color-background-disabled);
}
th,
td {
  color: var(--color-content-secondary);
  font-family: var(--body-sm-2-0-font-family);
  font-size: var(--body-sm-2-0-font-size);
  font-style: var(--body-sm-2-0-font-style);
  font-weight: var(--body-sm-2-0-font-weight);
  letter-spacing: var(--body-sm-2-0-letter-spacing);
  line-height: var(--body-sm-2-0-line-height);
  padding: 15px;
  background-color: var(--color-background-default);
  color: var(--color-base-secondary);
  border: 1px solid var(--color-background-disabled);
}
th {
  text-align: left;
}
thead th {
  background-color: var(--color-background-raised);
}
tbody tr:hover {
  background-color: var(--color-background-brand);
}
tbody td {
  position: relative;
}
/* tbody td:hover:before {
  /* content: "";
  position: relative;
  left: 0;
  right: 0;
  background-color: var(--color-background-brand);
  color: var(--color-base-brand);
  z-index: -1; 
} */
