.App {
  display: flex;
  flex-direction: row;
  font-family: "Lettera Text LL-Medium", Helvetica;
}

.main-content {
  display: flex;
  /* flex-direction: column; */
  padding: 32px 32px;
  width: 100%;
  background-color: var(--color-background-default);
  color: var(--color-content-secondary);
  height: 100vh;
}

.main-content > div {
  width: 100%;
}

.main-content h1 {
  color: var(--color-content-primary);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.main-content .content {
  display: flex;
  color: var(--color-content-tertiary);
  font-size: 100px;
  font-weight: 700;
  width: 100%;
  justify-content: center;
}
